body {
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: whitesmoke;
    font-family: Avenir, Helvetica Neue, Arial, sans-serif;
    background-size: cover;
    overflow: hidden;
}

html {
    margin: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}


li {
    list-style-type: none;
    display: inline;
    padding: 5px;
}

a {
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    color: #238cd8;
    font-weight: 500;
}

a:hover,
a:focus {
    text-decoration: none;
    color: #1d9b6c;
}

.topnav {
    background-color: #ffffff;
    font-size: 18px; 
    font-family: Avenir, Arial, sans-serif;
}

.navbar .nav > li > a {
    color: #000000;
}

.navbar .nav > li > a:hover{
    color: #1d9b6c;
}

.navbar-left li a {
    font-size: 26px;
    color: #000;
}

.Glide {
    padding-top: 20px;
}

.My {
    color: #238cd8;
}

.Andrew {
    color: #238cd8;   
}

p {
    font-size: 18px;
    line-height: 30px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    text-align: justify;
}

h1 {                     /* My Projects title*/
    text-align: center;
    padding-top: 85px;
    font-size: 50px;
}
    
h3 {                      /* Projects subtitle */
    text-align: center;
    padding-top: 10px;
    padding-left: 15px;
    padding-right: 15px;
}

h2 {                        /* Individual project titles */
    text-align: center;
}

.navbar-default .navbar-brand {
    font-size: 20px;
    color: #000;
}

.navbar-default .navbar-brand:hover {
    color: #1d9b6c;
}
.navbar-right li a {
    font-size: 22px;
}

.Projects, .Resume {
    font-weight: 500;
}

@media(min-width:768px) {
    
    .navbar-default .navbar-brand {
        font-size: 30px;
        padding-top: 30px;
    }
    
    ul {
        padding-top: 15px;
        padding-bottom: 8px;
    }
    
    p {
        font-size: 19px;
        line-height: 30px;
        padding-left: 100px;
        padding-right: 100px;
        padding-bottom: 20px;
    }
    
    h1 {                     /* My Projects title*/
        padding-top: 110px;
        font-size: 70px;
    }
    
    h2 {                        /* Individual project titles */
        text-align: left;
        padding-left: 100px;
    }
}

.contact {
    text-align: center;
    margin-top: 60px;
}

.contact h3 {
    padding-bottom: 15px;
}

.contact h2 {
    padding-bottom: 15px;
}

.contact .list-links {
    padding-right: 40px;   /*This centers the contacts links for some reason */
    list-style-type: none;
    display: inline;
} 

.contact p {
    text-align: center;
    font-size: 22px;
    padding-top: 5px;
}
